[Unit]
Description=hypersolid firstboot system initialization

# Start before ssh server starts
Before=sshd.service

[Service]
ExecStart=/usr/sbin/hypersolid-firstboot

# Just Execute the shell script
Type=oneshot
RemainAfterExit=yes

# force timeout
TimeoutStartSec=60s

[Install]
WantedBy=multi-user.target